.photo-grid__list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}