.photo-grid {
  width: 92.5%;
  padding: 0 0 92px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    width: 93.75%;
    max-width: calc(100% - 40px);
    padding: 88px 0; 
  }
}

@media screen and (max-width: 560px) {
  .photo-grid {
    max-width: calc(100% - 32px);
    padding: 64px 0;
  }
}