.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity .5s linear;
  display: block;
  margin-right: 18px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 650px) {
  .footer__link {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}