.intro {
  width: calc(100% - (148px + 442px));
  padding: 0 442px 92px 148px;
}

@media screen and (max-width: 1023px) {
  .intro {
    width: calc(100% - (48px + 286px));
    padding: 0 286px 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 24px 88px;
    width: 93.75vw;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 16px;
    width: 288px;
  }
}